name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        pwd
        cd ./nodejs-newApp/
        docker build . --file Dockerfile --tag my-image-nodejs:$(date +%s)
